@import '../../variables';
.header {
    display: flex;
    background-color: #f7f7fa;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
    
}
.align-left {
    display: flex;
    margin-left: 10px;
}
.align-right {
    display: flex;
    margin-right: 10px;
    align-items: center;
    flex-wrap: wrap;

    a {
        padding: 10px 10px 10px 20px;
        font-size: 26px;
        color: $orange;
    }
}
.box-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    @media (max-width: $media-tablet) {
        flex-direction: column;
    }
}


.left-part {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border-right: 1px solid #f0f0f5;
    @media (max-width: $media-tablet) {
        border-bottom: solid 1px #f0f0f5;
        margin-bottom: 5px;
        border-right: none;
    }

}
.photo {
    margin-left: 10px;
    display: flex;
    flex-basis: 20%;
    img {
        border-radius: 50%;
        background-color: #f7f7fa;
        max-width: 150px;
        max-height: 150px;
    }
}
.name {
    display: flex;
    margin-left: 5px;
    font-size: 20px;
    line-height: 28px;
    word-break: break-word;
    font-weight: bold;
}
.infos {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    @media (max-width: $media-tablet) {
        margin-top: 0px;
    }
    
}
.right-part  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.line {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    @media (max-width: $media-tablet) {
        margin-left: 10px;
    }
}
.item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    p {
        font-size: larger;
        margin: 2px;
        @media (max-width: $media-tablet) {
            font-size: 13px;
            font-weight: bolder;
        }
    }
    span {
        font-size: smaller;

    }
}

.table-infos {
    display: flex;
    flex-direction: row;
    font-size: smaller;
    flex-basis: 70%;
    @media (max-width: $media-tablet) {
        flex-basis: 100%;
    }

    .head {
        font-weight: bolder;
    }
    
    .col {
        display: flex;
        flex-direction: column;
        margin-right: 10%;
    }
    .col-grow {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        @media (max-width: $media-tablet) {
            flex-basis: 30%;
        }
    
    }
    
    .ftd {
        min-height: 22px;
        padding: 5px 0;
        display: flex;
    }
}

.item-in-line {
    display: flex;
    align-items: center;
   label {
        color: #6d6d78;
        padding: 16px 12px 10px 0px;
    }
}

hr {
    width: 90%;
    margin: 15px auto;
    border: 1px solid #f7f7fa;
    @media (max-width: $media-tablet) {
        margin: 5px auto;
    }
}


.item-tech {
    display: flex;
    flex-basis: 30%;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   label {
        color: #6d6d78;
        padding: 16px 12px 10px 0px;
    }
    p {
        margin-top: 0;
    }
}

.big {
    font-size: larger;
}
.small {
    font-size: smaller;
}