@import "../../variables";
.chart-popup {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 5px;
  }

  .title {
    font-weight: bolder;
  }
}

.red {
  background-color: red;
}

.elevation-help {
  position: absolute;
  top: 4px;
  left: 44px;
  z-index: 1000;
  max-width: 150px;
  background-color: #ddeaffa3;
  border-radius: 5px;
  padding: 3px;
  @media (max-width: $media-tablet) {
    font-size: 14px;
  }
}
